.footer-container{
 background-color: black;
}
.left-contain{
margin-left:auto;
margin-right:0;
}
.right-text{
color :white;
font-family: "Times New Roman", Times, serif;
}
.right-desc, .footer-links{
color: white;
font-family: "Times New Roman", Times, serif;
}

