.containe{
background-color: black;
display:inline;
}
.header-first{
  color: white;
  display:inline;
}
.head-sec{
background-color : yellow;
display:inline;
}
.header-three{
color:white;
}
.anchor{
color: white;
  display:inline;
}
